{% extends 'base.html' %}

{% block title %}About{% endblock %}
{% block content %}
<h1 style='position:relative; top:100px;'>
    About
</h1>
<h3 style='position:relative; top:100px;'>
    FAQ:
</h3>
<ul style='position:relative; top:110px;'>
    <li>Q: Where can i apply to become a Partnered Content Creator?</li>

    <li>A: Contact Galaxy on Discord or send an email to support@tt-galaxy.com.</li>

    <li>Q: Is the game in a playable state?</li>

    <li>A: Not yet, the very first alpha version is being worked on at this very moment.</li>

    <li>Q: What source does Toontown Galaxy use?</li>
    
    <li>A: We use Anesidora and we have ported it to python3 and modern panda3d.</li>
</ul>


{% endblock %}
