
{% extends 'base.html' %}
{% load static %}
<title>{% block title %}Toontown Galaxy{% endblock %}</title>
{% block content %}

<div id="container">
    <div id="content">
      <div id="about">
        <h1>
          
          <div style='  float:center; ;'>
                            <iframe width="900" height="528" style="padding: 25px; margin-top: 35px;"
src="https://www.youtube.com/embed/HOSkzISktR8">
</iframe>
          </div>
        </h1>
        <title>Toontown Galaxy</title>
    <div class="boxed" style="text-align:left; vertical-align: middle; padding:20px 47px;">
      <h3 style='clear:both; padding:50px; font-size: 25px;' class="subhead">
        Toontown Galaxy is a spiritual successor to Toontown Online. Set in an alternate universe after the story of TTO,
          TTG will be home to a new storyline unlike anything seen in a Toontown game before. In addition, TTG will be one
          of the most ambitious Toontown servers in existence, with new gags, new playgrounds, new cogs, and more! Despite
          the ambitiousness of this project, we are rooted in what inspired Toontown in the first place, looking to
          classic animation and slapstick comedy during the creative process. We can't reveal everything just yet, but
          follow our socials for more information about TTG in the future.
      </h3>
    </div>
      </div>

{% endblock %}