
{% extends 'base.html' %}
{% load static %}
<title>{% block title %}Toontown Galaxy{% endblock %}</title>
{% block content %}
<div id="container">
    <div id="content">
      <div id="about">
        <h1>
          
          <div style='  float:center;'>

          <img src="{% static 'images/ttg-logo.png' %} " width="690" height="322" />

                            <iframe width="720" height="480" style="padding: 25px;"
src="https://www.youtube.com/embed/Sz0fBu9ppWs">
</iframe>
          </div>
        </h1>
        <title>Toontown Galaxy</title>

    <h3 style='clear:both; padding:50px;' class="subhead">
      Toontown Galaxy is a spiritual successor to Toontown Online. Set in an alternate universe after the story of TTO,
        TTG will be home to a new storyline unlike anything seen in a Toontown game before. In addition, TTG will be one
        of the most ambitious Toontown servers in existence, with new gags, new playgrounds, new cogs, and more! Despite
        the ambitiousness of this project, we are rooted in what inspired Toontown in the first place, looking to
        classic animation and slapstick comedy during the creative process. We can't reveal everything just yet, but
        follow our socials for more information about TTG in the future.
    </h3>

      </div>

{% endblock %}