{% load static %}
<head>
            <link href="{% static 'css/stylesNav.css' %}" rel="stylesheet" type="text/css" />
</head>

<style>
    div {
        text-align: center;
    }
</style>

<header>
    <nav>
        <ul class="nav__links">
        </ul>
    </nav>
    <a href="{% url 'public:landing' %}">
        <div>
            <img class="logo" src="{% static 'images/ttg-logo.png' %}" alt="logo" width="180"/>
        </div>
        </a>
    <a class="cta" href="https://forms.gle/6rdDjKXdfiBxqUJj8"><button>Apply Now</button></a>
</header>