{% extends 'base.html' %}
{% block title %}Apply for partner{% endblock %}
{% block content %}

<h3>
    WORK IN PROGESS! DO NOT PUT THS ON THE ACTUAL SITE RIGHT NOW!!!!
</h3>

<h4>Agreement:</h4>
<p>
    By becoming an alpha tester you agree to not share details about content added to the game (compared to base toontown) and you agree to not share your key (when you get it) with anyone, whether it be a TTG staff member or a random person.

Perks of being a TTG Content Creator:
-First access to new content for your social media channel(s).
-Beta Keys (once they are available) to giveaway to fans or friends.
-Direct feedback to the team about changes and updates in TTG and a louder voice about the game in general.
</p>

<h4>Partnered Rules:</h4>
<ol type="1">
<li>Follow all guidelines presented by the platform you stream or produce content on (Twitch, YouTube, etc).</li>
<li>You do not need to be family friendly while streaming or creating content for Toontown Galaxy. Swearing is okay, along with adult humor (within reason).</li>
<li>If you are playing an M rated game, or a game where mature content is expected, do not advertise the stream in the Toontown Galaxy Discord Server.</li>
<li>Do not pose as TTG Staff. By being a broadcaster, you are free to create your own content but you also acknowledge that you are not speaking for the Toontown Galaxy team.</li>
</ol>
{% endblock %}
