{% extends 'base.html' %}
{% load static %}
<title>{% block title %}Toontown Galaxy{% endblock %}</title>
{% block content %}

<style>
    .container{
    text-align: center;
    }
</style>
<div class="container">
<div class="center" style="margin-top: 10px">
    <button ><a href="https://toontowngalaxy.com/apply">Apply Here</a></button>
</div>
</div>

<h3 style='clear:both; padding:50px; color: white' class="subhead">
    Management:
</h3>

<h5 style="list-style-position: inside; text-align: center;">
    <p style="font-size: 25px;">Galaxy711 - Founder, Project Lead</p>
    <p style="font-size: 25px; margin-top: -12px;">Ashkowski - Creative Concepts Lead</p>
    <p style="font-size: 25px; margin-top: -12px;">Lovette Marigold - Community Lead</p>
    <p style="font-size: 25px; margin-top: -12px;">Pants - Producer, Composer</p>
    <p style="font-size: 25px; margin-top: -12px;">Starfury - Creative Resources Lead</p>
</h5>

<h3 style='clear:both; padding:50px; color: white' class="subhead">
    Staff:
</h3>

<h5 style="list-style-position: inside; text-align: center;">
    <p style="font-size: 25px;">Darth Nihulus - Developer, Moderator</p>
    <p style="font-size: 25px; margin-top: -12px;">Dr. Crow - Creative, Texture Artist</p>
    <p style="font-size: 25px; margin-top: -12px;">Tephiko - Creative, 3D Modeler</p>
    <p style="font-size: 25px; margin-top: -12px;">Xeltina - Developer</p>
    <p style="font-size: 25px; margin-top: -12px;">Jisatsu - Moderator</p>
    <p style="font-size: 25px; margin-top: -12px;">Teal - Creative, Concept Writer</p>
    <p style="font-size: 25px; margin-top: -12px;">Chillzy - Creative, Concept Artist</p>
    <p style="font-size: 25px; margin-top: -12px;">Ludo - Creative, Concept Writer</p>
    <p style="font-size: 25px; margin-top: -12px;">CYD - Creative, 3D Modeler</p>
    <p style="font-size: 25px; margin-top: -12px;">Celly - Creative, Brand Artist</p>
    <p style="font-size: 25px; margin-top: -12px;">Retro - Creative, Concept Artist</p>
    <p style="font-size: 25px; margin-top: -12px;">Sin - Brand Artist</p>
    <p style="font-size: 25px; margin-top: -12px;">Wizzerinus - Developer</p>
    <p style="font-size: 25px; margin-top: -12px;">Pinotate - Composer</p>
</h5>

<h3 style='clear:both; padding:50px; color: white' class="subhead">
    Trial Staff:
</h3>

<h5 style="list-style-position: inside; text-align: center;">
    <p style="font-size: 25px;">Frogger - Trial Moderator</p>
    <p style="font-size: 25px; margin-top: -12px;">Tobaseru - Trial Developer</p>
    <p style="font-size: 25px; margin-top: -12px;">Snoopee - Trial Moderator</p>
    <p style="font-size: 25px; margin-top: -12px;">Brandy - Trial Brand Artist</p>
    <p style="font-size: 25px; margin-top: -12px;">Kodi - Trial Moderator</p>
    <p style="font-size: 25px; margin-top: -12px;">Red Ducky - Trial Concept Artist</p>
</h5>

{% endblock %}